<%- include('./partials/header') %>

<header>
    <h1>Welcome to My Calendar App!</h1>
</header>
<main>
    <p>Organize your life, never miss an appointment, and enhance productivity.</p>
    <div class="signup-button">
        <a href="/signup">Sign Up Now!</a>  <!-- need to add signup href future -->
    </div>

<%- include('./partials/footer') %>
