<%- include('./partials/header') %>

<header>
    <h1>Welcome to My Calendar App!</h1>
</header>
<main>
    <p>Organize your life</p> 
    <p>never miss an appointment</p>
    <p>enhance productivity</p>
    <div class="signup-button">
        <a href="/auth/google">Sign Up Now!</a>
    </div>
</main>

<%- include('./partials/footer') %>
